<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Extension</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Add password</h1>
  <form id="form">
    <div class="icon-container">
      <div class="icon-item">
        <img src="/images/checked.png" alt="save" id="submitBtn" width="50" height="50" />
        <span class="icon-label">Save</span>
      </div>
      <div class="icon-item">
        <img src="../images/previous.png" alt="previous" id="backBtn" width="50" height="50" />
        <span class="icon-label">Back</span>
      </div>
      <div class="icon-item">
        <img src="/images/exit.png" alt="log out" id="logoutBtn" width="50" height="50" />
        <span class="icon-label">Log Out</span>
      </div>
    </div>
    <label for="siteAddress">Site Address:</label>
    <input type="text" id="siteAddress" name="siteAddress" required /><br /><br />
    
    <label for="plainPassword">Password:</label>
    <input type="password" id="plainPassword" name="plainPassword" required /><br /><br />
  </form>
  <script src="../scripts/redirecting_views.js"></script>
  <script src="../scripts/main_view.js"></script>
  <script src="../scripts/add_password.js"></script>
</body>
</html>
