<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Extension</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Change your password</h1>
  <form id="form">
    <div class="icon-container">
      <div class="icon-item">
        <img src="/images/checked.png" alt="save" id="submitBtn" width="50" height="50" />
        <span class="icon-label">Save</span>
      </div>
      <div class="icon-item">
        <img src="../images/previous.png" alt="previous" id="backBtn" width="50" height="50" />
        <span class="icon-label">Back</span>
      </div>
    </div>

    <label for="username">Login:</label>
    <input type="text" id="username" name="username" required /><br /><br />
    <label for="plainPassword">Password:</label>
    <input type="password" id="password" name="password" required /><br /><br />
    <div id="response"></div>

  </form>
  <script src="../scripts/get_cookies.js"></script>
  <script src="../scripts/change_user_password.js"></script>
  <script src="../scripts/redirecting_views.js"></script>
</body>
</html>
