<!DOCTYPE html>
<html>
  <body>
    <h1>Change your password</h1>
  </body>
  <img
    src="/images/checked.png"
    alt="submit"
    id="submitBtn"
    width="50"
    height="50"
  />
  <img
    src="/images/previous.png"
    alt="previous"
    id="backBtn"
    width="50"
    height="50"
  />
  <form id="form">
    <label>Login:</label><br />
    <input type="text" id="name" name="name" /><br />
    <label>Password:</label><br />
    <input type="password" id="password" name="password" />
  </form>
  <div id="response"></div>
  <script src="../scripts/get_cookies.js"></script>
  <script src="../scripts/change_user_password.js"></script>
  <script src="../scripts/redirecting_views.js"></script>
</html>
